bolean sclicing

In [27]:
import pandas as pd

In [28]:
data=pd.read_csv('parcours_explorateurs.csv')
data

   noeud_amont noeud_aval type_aretes   distance  arete_id
0    sommet_15  sommet_95      chemin  16.980936   arete_6
1    sommet_45  sommet_38      chemin  11.317052  arete_25
2    sommet_28  sommet_72     arrivee   2.690543  arete_85
3     sommet_2  sommet_65      chemin  14.328168   arete_7
4    sommet_98  sommet_18      chemin  13.542829  arete_26
..         ...        ...         ...        ...       ...
85   sommet_21  sommet_29      chemin   5.556694  arete_64
86   sommet_70  sommet_15      chemin   8.202683  arete_40
87   sommet_13  sommet_75      chemin  13.359543  arete_19
88    sommet_0   sommet_4      chemin  19.516010  arete_37
89   sommet_95   sommet_8      chemin   2.744767  arete_57

[90 rows x 5 columns]

In [68]:
chemin=data[data['type_aretes']=='chemin']
chemin

   noeud_amont noeud_aval type_aretes   distance  arete_id
0    sommet_15  sommet_95      chemin  16.980936   arete_6
1    sommet_45  sommet_38      chemin  11.317052  arete_25
3     sommet_2  sommet_65      chemin  14.328168   arete_7
4    sommet_98  sommet_18      chemin  13.542829  arete_26
5    sommet_94  sommet_16      chemin  16.498282  arete_22
..         ...        ...         ...        ...       ...
85   sommet_21  sommet_29      chemin   5.556694  arete_64
86   sommet_70  sommet_15      chemin   8.202683  arete_40
87   sommet_13  sommet_75      chemin  13.359543  arete_19
88    sommet_0   sommet_4      chemin  19.516010  arete_37
89   sommet_95   sommet_8      chemin   2.744767  arete_57

[70 rows x 5 columns]

In [71]:
arrive=data.loc[data['type_aretes']=='arrivee']
aret_arrive=list(arrive['noeud_aval'])
aret_arrive

['sommet_72',
 'sommet_88',
 'sommet_6',
 'sommet_25',
 'sommet_64',
 'sommet_9',
 'sommet_66',
 'sommet_99',
 'sommet_19',
 'sommet_74']

In [ ]:
adja=

In [72]:
data.iterrows()